.mon-profil-container {
  background-color: #fdfff3;
}

.mon-profil-header {
  width: 100%;
  height: 137px;
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #88B9FA;
}

.mon-profil-image {
  width: 222px;
  height: 269px;
  margin-top: -23px;
  object-fit: cover;
}

.mon-profil-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.mon-profil-anciens-suivi {
  width: 171px;
  height: 36px;
  display: flex;
  padding-top: 0px;
  border-width: 0px;
  margin-right: 32px;
  padding-left: 0px;
  border-radius: 20px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: #c9e265;
}

.mon-profil-image1 {
  width: 20px;
  height: 20px;
  align-self: center;
  object-fit: cover;
  margin-left: 24px;
}

.mon-profil-text {
  align-self: center;
  margin-top: 0px;
  text-align: center;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 700;
}

.mon-profil-mon-profil {
  width: 159px;
  height: 35px;
  display: flex;
  padding-top: 0px;
  border-width: 0px;
  margin-right: 32px;
  padding-left: 0px;
  border-radius: 20px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: #c9e265;
}

.mon-profil-image2 {
  width: 20px;
  height: 20px;
  align-self: center;
  object-fit: cover;
  margin-left: 24px;
}

.mon-profil-text03 {
  margin-left: 8px;
  font-family: Courier New, monospace;
  font-size: 13px;
  text-align: center;
  align-self: center;
  margin-top: 0px;
  margin-left: 5px;
  font-weight: 700;
}

.mon-profil-nouveu-suivi-container {
  width: 100%;
  height: 143px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.mon-profil-anciens-suivi1 {
  width: 290px;
  height: 61px;
  display: flex;
  align-self: flex-end;
  margin-left: 32px;
  padding-top: 0px;
  border-width: 0px;
  margin-right: 32px;
  padding-left: 0px;
  border-radius: 20px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: #c9e265;
}

.mon-profil-image3 {
  width: 96px;
  height: 50px;
  align-self: center;
  object-fit: cover;
  margin-left: 0px;
  margin-bottom: 0px;
}

.mon-profil-text04 {
  font-size: 23px;
  align-self: center;
  margin-top: 0px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}

.mon-profil-text05 {
  align-self: flex-start;
  margin-left: 64px;
}

.mon-profil-container-constants {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mon-profil-form-constants {
  width: 642px;
  height: 375px;
  position: relative;
  border-radius: 25px;
  background-color: #D9D9D9;
  border: solid;
  border-color: #88B9FA;
}

.mon-profil-text06 {
  top: 36px;
  left: 64px;
  position: absolute;
  font-size: 20px;
  padding-top: 0px;
}

.mon-profil-textinput {
  top: 32px;
  left: 141px;
  width: 144px;
  position: absolute;
}

.mon-profil-text07 {
  top: 36px;
  right: 244px;
  position: absolute;
  font-size: 20px;
  padding-top: 0px;
}

.mon-profil-textinput1 {
  top: 33px;
  right: 47px;
  width: 144px;
  position: absolute;
}

.mon-profil-text08 {
  top: 104px;
  left: 64px;
  position: absolute;
  font-size: 20px;
  padding-top: 0px;
}

.mon-profil-textinput2 {
  top: 100px;
  left: 144px;
  width: 144px;
  position: absolute;
}

.mon-profil-text09 {
  top: 104px;
  right: 239px;
  position: absolute;
  font-size: 20px;
  padding-top: 0px;
}

.mon-profil-textinput3 {
  top: 97px;
  right: 49px;
  width: 144px;
  position: absolute;
}

.mon-profil-text10 {
  left: 64px;
  top: 175px;
  position: absolute;
  font-size: 20px;
  padding-top: 0px;
}

.mon-profil-textinput4 {
  top: 165px;
  left: 142px;
  width: 391px;
  position: absolute;
}

.mon-profil-text11 {
  left: 64px;
  top: 243px;
  position: absolute;
  font-size: 20px;
  padding-top: 0px;
}

.mon-profil-textinput5 {
  top: 235px;
  left: 142px;
  width: 144px;
  position: absolute;
}

.mon-profil-text123 {
  left: 61px;
  top: 311px;
  position: absolute;
  font-size: 20px;
  padding-top: 0px;
}

.mon-profil-textinput123 {
  top: 306px;
  left: 156px;
  width: 451px;
  position: absolute;
}

.mon-profil-container-variables {
  width: 100%;
  height: 368px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mon-profil-form-variables {
  width: 50%;
  height: 301px;
  position: relative;
  margin-top: 101px;
  border-radius: 25px;
  background-color: #e1eeff;
  border: solid;
  margin-bottom: 84px;
  padding-bottom: 18px;
  border-color: #88B9FA;
}

.mon-profil-text12 {
  top: 36px;
  left: 64px;
  position: absolute;
  font-size: 20px;
  padding-top: 0px;
  padding-right: 8px;
}

.mon-profil-text120 {
  top: -50px;
  left: 10px;
  position: absolute;
  font-size: 20px;
  padding-top: 0px;
  padding-right: 8px;
  font-family: Courier New, monospace;

}

.mon-profil-taille {
  top: 32px;
  left: 213px;
  width: 144px;
  position: absolute;
  padding-right: 8px;
}

.mon-profil-text13 {
  top: 121px;
  left: 63px;
  position: absolute;
  font-size: 20px;
  padding-top: 0px;
  padding-right: 8px;
}

.mon-profil-allergies {
  top: 119px;
  left: 206px;
  width: 144px;
  position: absolute;
  padding-right: 8px;
}

.mon-profil-text14 {
  left: 66px;
  bottom: 73px;
  position: absolute;
  font-size: 20px;
  padding-top: 0px;
  padding-right: 8px;
}

.mon-profil-intolerance {
  left: 207px;
  width: 200px;
  bottom: 64px;
  position: absolute;
  padding-right: 8px;
}

.mon-profil-enregistrer {
  right: 13px;
  width: 159px;
  bottom: 12px;
  height: 35px;
  display: flex;
  position: absolute;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 20px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  background-color: #c9e265;
  z-index: 10;
}

.mon-profil-image4 {
  width: 20px;
  height: 20px;
  align-self: center;
  object-fit: cover;
  margin-left: 24px;
}

.mon-profil-text15 {
  align-self: center;
  margin-top: 0px;
  text-align: center;
  margin-left: 5px;
}

@media(max-width: 991px) {
  .mon-profil-header {
    height: 117px;
    background-color: #88B9FA;
  }

  .mon-profil-image {
    width: 185px;
    height: 118px;
  }

  .mon-profil-anciens-suivi {
    display: flex;
    flex-direction: row;
    background-color: #c9e265;
  }

  .mon-profil-text {
    margin-left: 8px;
  }

  .mon-profil-text01 {
    font-family: Courier New, monospace;
    font-size: 20px;
    text-align: center;
    align-self: center;
    margin-top: 0px;
    margin-left: 5px;
    margin-left: 8px;
  }

  .mon-profil-mon-profil {
    display: flex;
    flex-direction: row;
    background-color: #c9e265;
  }

  .mon-profil-text03 {
    margin-left: 8px;
  }

  .mon-profil-anciens-suivi1 {
    display: flex;
    flex-direction: row;
    background-color: #c9e265;
  }

  .mon-profil-text04 {
    margin-left: 8px;
  }

  .mon-profil-enregistrer {
    display: flex;
    flex-direction: row;
    background-color: #c9e265;
  }

  .mon-profil-text15 {
    margin-left: 8px;
  }

  .mon-profil-text16 {
    margin-left: 8px;
  }
}

@media(max-width: 767px) {
  .mon-profil-header {
    padding-left: 32px;
    padding-right: 32px;
  }

  .mon-profil-btn-group {
    display: none;
  }
}

@media(max-width: 479px) {
  .mon-profil-header {
    padding: 16px;
  }

  .mon-profil-anciens-suivi1 {
    width: 301px;
    height: 58px;
    align-self: center;
  }
}

html {
  line-height: 1.15;
}



* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  /* font-family: inherit; */
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth
}

html {
  font-family: Courier New, monospace;
  font-size: 16px;
}



.input {
  color: #000000;
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;

}

.textarea {
  color: #000000;
  cursor: auto;
  padding: 0.5rem;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.content {
  font-size: 16px;
  /* font-family: Inter; */
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.heading {
  font-size: 32px;
  /* font-family: Inter; */
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.example-chip-list {
  width: 100%;
  height: 198px;
  bottom: -100px;
  background-color: #c9e26574;
  border-radius: 25px;
  padding: 37px;

}

.input-chip {
  background-color: #c7e0ff;
  border-radius: 25px;
  width: 150px;
  height: 30px;
  padding-left: 10px;

}


.mat-standard-chip.mat-chip-with-trailing-icon {
  background-color: #accffa;
  border-radius: 10px;

}

input.mat-chip-input {
  width: 163px;
  margin: 4px;
  flex: none;

}

.mat-chip-list-wrapper {
  display: block;
  position: absolute;

}

.titrepage {
  align-self: flex-start;
  margin-left: 64px;
  font-size: 23px;
  font-family: Courier New, monospace;
  background-color: #f2fec2;
  border-radius: 15px;
  height: 32px;
  width: 18%;
  text-align: center;

}

.mat-form-field-wrapper {
  position: absolute;
  margin-top: 35px;
}

body {
  font-family: Courier New, monospace;
}